<section
  id="contact"
  class="pt-20 pb-10 px-10 min-h-screen h-full bg-gray-800 text-white bg-[radial-gradient(125%_130%_at_50%_10%,#63e_0%,#000_60%)] overflow-hidden"
>
  <div class="">
    <h2
      class="text-4xl font-bold text-center font-heading sm:text-5xl tracking-wider"
    >
      Contact Me
    </h2>
  </div>
  <div class="pt-10 pb-5 sm:pb-20 lg:py-20 overflow-auto">
    <div
      class="max-w-md mx-auto relative overflow-hidden z-10 bg-main/20 p-8 rounded-lg shadow-md before:w-24 before:h-24 before:absolute before:bg-purple-600 before:rounded-full before:-z-10 before:blur-2xl after:w-32 after:h-32 after:absolute after:bg-sky-400 after:rounded-full after:-z-10 after:blur-xl after:top-24 after:-right-12"
    >
      <form method="post" action="#">
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-300" for="name"
            >Full Name</label
          >
          <input
            class="mt-1 p-2 w-full bg-gray-700 border border-gray-600 rounded-md text-white"
            type="text"
            id="name"
            name="fullName"
            [(ngModel)]="form.fullName"
          />
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-300" for="email"
            >Email Address</label
          >
          <input
            class="mt-1 p-2 w-full bg-gray-700 border border-gray-600 rounded-md text-white"
            id="email"
            name="email"
            type="email"
            [(ngModel)]="form.email"
          />
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-300" for="message"
            >Message</label
          >
          <textarea
            class="mt-1 p-2 w-full bg-gray-700 border border-gray-600 rounded-md text-white"
            id="message"
            name="message"
            rows="3"
            [(ngModel)]="form.message"
          ></textarea>
        </div>

        <div class="flex justify-end">
          <button
            class="bg-gradient-to-r from-purple-600 via-purple-400 to-blue-500 text-white px-4 py-2 font-bold rounded-md hover:opacity-80"
            type="submit"
            (click)="onSend()"
          >
            {{ loading ? "Sending..." : "Send Message" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
