<div class="w-full overflow-hidden flex mb-1 space-x-16 group">
  <ul class="flex animate-loop space-x-16">
    <li
      *ngFor="let skills of skillsLists"
      class="flex flex-shrink-0 min-w-max space-x-2 justify-center items-center text-[1.1rem]"
    >
      <i [class]="skills.iconClass" class="text-xl"></i>
      <span>{{ skills.skillName }}</span>
    </li>
  </ul>
  <ul class="flex space-x-16 animate-loop" aria-hidden="true">
    <li
      *ngFor="let skills of skillsLists"
      class="flex flex-shrink-0 min-w-max space-x-2 justify-center items-center text-[1.1rem]"
    >
      <i [class]="skills.iconClass" class="text-xl"></i>
      <span>{{ skills.skillName }}</span>
    </li>
  </ul>
</div>
