<section
  id="skills"
  class="pt-20 pb-10 px-10 bg-gray-800 text-white min-h-screen bg-[radial-gradient(125%_130%_at_50%_10%,#000_40%,#63e_100%)] overflow-hidden"
>
  <div>
    <h2 class="text-4xl font-bold font-heading sm:text-5xl tracking-widest">
      Skills
    </h2>
  </div>
  <div class="grid gap-5 mt-10 sm:grid-cols-2 xl:grid-cols-3 xl:gap-10">
    <!-- //list -->
    <div *ngFor="let skill of skills" class="group w-full">
      <div
        class="w-full relative rounded-lg border border-white/10 bg-gradient-to-b from-gray-900 via-gray-950 to-black px-8 py-4 shadow-xl 2xl:py-5"
      >
        <div
          class="absolute inset-x-0 top-px h-px bg-gradient-to-r from-transparent via-main to-transparent opacity-100 transition-opacity duration-500 animate-pulse"
        ></div>
        <div
          class="absolute inset-x-0 bottom-px h-px bg-gradient-to-r from-transparent via-main to-transparent opacity-100 transition-opacity duration-500 animate-pulse"
        ></div>

        <div class="relative flex items-center justify-between gap-6">
          <div class="flex items-center gap-4 w-full">
            <div
              class="relative flex h-12 w-14 sm:h-14 sm:w-20 lg:h-14 lg:w-16 bg-main rounded-full overflow-hidden items-center justify-center"
            >
              <div
                class="absolute inset-0 rounded-full border-3 border-white/20 border-t-white transition-transform duration-1000 animate-spin"
              ></div>
              <div class="absolute inset-[3px] rounded-full bg-gray-950"></div>
              <span class="relative text-sm font-bold text-white">
                <i [class]="skill.iconClass" style="font-size: 1.5rem"></i>
              </span>
            </div>

            <div class="flex flex-col gap-1 w-full">
              <div class="flex items-center gap-2">
                <span
                  class="text-base font-heading font-bold text-white md:text-lg lg:text-xl"
                  >{{ skill.skillName }}</span
                >
                <div
                  class="h-1.5 w-1.5 rounded-full bg-orange-500 shadow-lg shadow-orange-500/50"
                ></div>
              </div>

              <div
                class="h-1.5 w-full overflow-hidden rounded-full bg-gray-800"
              >
                <div
                  class="h-full rounded-full bg-gradient-to-r from-main to-main transition-all duration-300"
                  [ngStyle]="{ width: skill.degree + '%' }"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //list -->
  </div>
</section>
